#crontab-e
SHELL=/bin/bash
PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
MAILTO=mammoth

# Example of job definition:
# .---------------- minute (0 - 59)
# |  .------------- hour (0 - 23)
# |  |  .---------- day of month (1 - 31)
# |  |  |  .------- month (1 - 12)
# |  |  |  |  .---- day of week (0 - 6) (Sunday=0)
# |  |  |  |  |
# *  *  *  *  * user-name  command to be executed

#Run the frame scan every hour at the top of the hour
0 * * * * /home/mammoth/Mammoth/scripts/frame.sh
#Convert rxp files to laz and compress rxp files using gzip once a day
15 1 * * * /home/mammoth/Mammoth/scripts/compress.sh
#Move rxp.gz and laz files to AWS S3 bucket, to their respective directories once a day
35 1 * * * /home/mammoth/syncaws.sh
#Seperate log content in system logs, by month. occurs 1x a month
0 0 1 * * /usr/bin/logs_split
